# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Generated Data
data/generated/

# Power BI
*.pbix

# SQLite
*.db

# Python Packaging
build/
dist/
*.egg-info/